
services:

  db:
    image: postgres
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    build:
      context: ./server
      dockerfile: Dockerfile.server
    container_name: nestjs_server
    env_file:
      - ./server/.env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on:
      - db
  
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.client
    env_file:
      - ./client/.env
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"
    depends_on:
      - server

volumes:
  postgres_data: